
.example-sidenav {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 380px;
    /*background: lightgray;*/
  }
/*  260 - 255  */
  .sidenav_menu_item {
    width: 375px;    
    text-align: left;
  }


.flexExpand {
  flex: 1 1 auto;
}